.dashboard{
    width: 100%;
    flex-direction: column;
}
.dashmain{
    width: 100%;
    margin-left: 0%;
    overflow-x: hidden;
}
.newContainer{
    flex-direction: column;
}
.dashboardCard{
    width: 100%;
}
.yearBtn{
    border: none;
    background-color: #fff;

}
.yearBtn:focus{
    outline: none;
}
.active{
    border-bottom: 2px solid #405189;
}
@media only screen and (min-width:900px){
    .dashboard{
    
        flex-direction: row;
    }
    .dashmain{
        margin-left: 15%;
    }
    .newContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width:1200px){
    .dashmain{
        margin-left: 10%;
    }
    .newContainer{
        flex-direction: row;
    }
}