.login{
    flex-direction: column;
    background-color: #F7F7F7;
}
.login-img{
    width: 70%;
    height: 100%;

}
.loginwhite{
    background-color: #fff;
}
.loginImg{
    height: 100%;
    background-color: #F7F7F7;
}
.login2nd{
    flex-direction: column;
}
.loginInput{
    width: 100%;
    height: 2em;
}
.filler{
    display: none;
}
.loginwhite{
    padding-inline: 10px
}
.loginBtn{
    width: 100%;
    background-color: #405189;
    color: #fff;
    border: 2px solid #405189;
    padding: 2px;
    margin-bottom: 5px;
}
.loginHeading{
    color: #484848;
}
@media only screen and (min-width:700px){
    .login{
        flex-direction: row;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-block: auto;
    }
    .login-img{
        width:100%;
    
    }
    #root{
        display: flex;
    }
    .loginBtn{
        margin-bottom: 0px;
    }
    .loginInput{
        height: 1.8em;
    }
}
@media only screen and (min-width:980px){
    .login{
        flex-direction: row;
        width: 70%;
        margin-block: auto;
    }
    .login-img{
        width: 100%;
    }
    .loginBtn{
        margin-bottom: 0px;
    }
    .loginDiv{
        width: 80%;
    }
}
@media only screen and (min-width:1200px){
    .login{
        flex-direction: row;
        width: 50%;
        margin-block: auto;
    }
}