.new, .view{
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    overflow-x: scroll;
    margin-block: 10px;
    margin-left: 0px;
}
.newHeading{
    font-size: medium;
    font-weight: 500;
    /* max-width: 180px; */
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
    row-gap: 2px;
    column-gap: 15px;
}
.item{
    text-overflow: clip;
}
.heading{
    font-weight: 600;
}
.tableButton{
    background-color: #405189;
    border: 2px solid #405189;
    color: #fff;
    border-radius: 5px;
}
@media only screen and (min-width:1100px){
    .new{
        width: 42.5%;
        background-color: #fff;
        flex-direction: column;
        overflow-x: scroll;
    }
    .view{
        width: 80%;
        background-color: #fff;
        flex-direction: column;
        overflow-x: scroll;
    }
    .newHeading{
        font-size: large;
        /* max-width: 180px; */
    }
}
@media only screen and (min-width:1200px){
    .new{
        width: 45%;
    }
    .view{
        width: 95%;
    }
}